
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    font-family: Raleway;

}



.head-padding{
    padding-left: 15px;
}

body{
  margin: 0px;
  font-style: Raleway;

}



.is-pink {
    padding: 25px;
    margin: 0px;
    background-color: #FF9BBF;
    text-align:left;
}

div a{
    color: #217500;
}

h1{
    color:#217500
}

.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    
}

.list-container{
    padding:10px;
}

.has-black-border{
    background-color: #FF9F1C;
    
    border-bottom: solid black 1px;
    padding: 16px
}

/* a:visited{
    color: purple;
} */



a{
   text-decoration:none;
   
}



a:hover{
    color:#ED004F;
}


nav:hover{
    color :#ED004F;
}





#white-font{
    color: white
    
}

.recipe-items{

    background-color: lightgray;
}


#taco-title-pink{
    
    
    color: #FF9BBF
}